<div class="container-menu" *ngIf="widget && website && page">
    <div class="_items" *ngIf="!widget.EditText">
        <div class="_item">
            <b>{{widget.Name}} {{widget.Id}} </b>
        </div>


        <div class="_item">
            <span (click)="showFormat = true"> {{ widget.ItemFormat || 'Format'}}</span>
            <div *ngIf="showFormat" class="_select" (click)="triggerMenuEvent('db')">
                <div (click)="selectFormat('none')">
                    None
                </div>
                <div *ngFor="let  option of ['Text','Currency']" (click)="selectFormat(option)">
                    {{option}}
                </div>
            </div>
        </div>
        <div class="_item" *ngIf="widget.ItemType !== SectionTypes.IMAGE" (click)="triggerMenuEvent('edit')">
            <i class="fas fa-edit"></i> Edit text
        </div>


        <div class="_item"  *ngIf="widget.ItemCategory === SectionTypes.DB_ITEM && table">
            <span (click)="showChooseField = true">   <i class="fas fa-database"></i>  {{ widget.FeildName || ' Gat data from'}}</span>
            <div *ngIf="showChooseField" class="_select" (click)="triggerMenuEvent('db')">
                <div (click)="selectField()">
                    None
                </div>
                <div *ngFor="let  option of table.Columns" (click)="selectField(option)">
                    {{option.Name}}
                </div>
            </div>
        </div>
        <div class="_item" *ngIf="widget.ItemCategory === ItemCategories.MENU_BUTTON"
            (click)="triggerMenuEvent('open-menu')">
            <i class="fas fa-bars"></i> Open menu
        </div>
        <div class="_item" *ngIf="widget.ItemCategory === ItemCategories.HIDE_MENU_BUTTON"
            (click)="triggerMenuEvent('close-menu')">
            <i class="fas fa-bars"></i> Close menu
        </div>
        <div class="_item" *ngIf="widget.ItemType === SectionTypes.IMAGE" (click)="triggerMenuEvent('change-image')">
            <i class="fas fa-image"></i> Chage image
        </div>
        <div class="_item" *ngIf="widget.ItemType === SectionTypes.IMAGE" (click)="triggerMenuEvent('make-background')">
            <i class="fas fa-image"></i>Make a background
        </div>
        <div class="_item" (click)="triggerMenuEvent('click')">
            <i class="fas fa-bolt"></i> On click
        </div>
        <div class="_item" (click)="triggerMenuEvent('clone')">
            <i class="fas fa-clone"></i> Duplicate element
        </div>
        <div class="_item" (click)="triggerMenuEvent('copy-style')">
            <i class="fas fa-clone"></i> Copy Style
        </div>
        <div class="_item" (click)="triggerMenuEvent('paste-style')">
            <i class="fas fa-clone"></i> Paste styles
        </div>
        <div class="_item" (click)="triggerMenuEvent('delete')">
            <i class="fas fa-trash"></i> Delete
        </div>
    </div>




    <div class="_items" *ngIf="widget.EditText">
        <div class="_item">
            <b>{{widget.Name}} </b>
        </div>

        <div class="_item" (click)="triggerMenuEvent('finish-edit')">
            <i class="fas fa-check"></i> Finish
        </div>
    </div>
</div>