<div class="overlay" (click)="close()" ></div>
<div class="_picker options-modal">
    <input type="file" multiple #filesInput style="display: none;" (change)="uploadFile(filesInput.files)">
    <div class="heading d-flex justify-content-between">
        <h5>
            Assets
            <span style="margin-left: 3rem;">
                <i *ngIf="!files || !files.length" class="bi bi-cloud-plus _close pointer" (click)="filesInput.click()"></i>
                <!-- <i *ngIf="files && files.length" class="bi bi-cloud-arrow-up-fill _close pointer" (click)="submitFiles()"></i> -->
            </span>
        </h5>

        <i (click)="close()" class="_close fas fa-times"></i>
    </div>

    <div class="__body" *ngIf="website && website.Files">
        <div class="images">
            <div class="_image" *ngFor="let image  of website.Files">
               <!-- {{image.Id}}  -->
               <img [src]="image.Url" alt="" (click)="selectImage(image)">
            </div>
        </div>
    </div>
</div>