@import "../../../assets/styles/colors";
$scale: 1.2;
._picker {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 80%;
    max-height: 80vh;
    overflow-y: scroll;
    z-index: 10000;
    .heading {
        background: $bg;
        color: $white;
    }

    .body {
        color: $bg;

        .images {
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-gap: 5px;
            .image {
                cursor: pointer;
                overflow: hidden;
                img {
                    transition: .2s ease-in-out;
                    width: 100%;
                    &:hover {
                        transform: scale($scale, $scale);
                        -ms-transform: scale($scale, $scale);
                        -webkit-transform: scale($scale, $scale);
                    }
                }
            }
        }
    }
}
