<div class="input" *ngIf="input">
  <app-html-element
    *ngIf="input.InputLabel && (input.InputType === 'text' || input.InputType === 'textarea' || input.InputType === 'number' || input.InputType === 'email')"
    [type]="'p'" [value]="input.InputLabel"  (valueChanged)="valueChanged($event, 'InputLabel')"
    [ItemStyle]="input.LabelStyles" (copyEvent)="OnCopyEvent($event, 'InputLabel')"></app-html-element>


  <input [type]="input.InputType" [placeholder]="input.Placeholder"
    *ngIf="input.InputType === 'text' || input.InputType === 'number' || input.InputType === 'email'"
    [ngStyle]="input.SelectedStyle" (contextmenu)="onRightClick($event)" can_hover_me (onHover)="showStyleMenu($event)">

  <textarea *ngIf="input.InputType === 'textarea'" [ngStyle]="input.SelectedStyle" (contextmenu)="onRightClick($event)"
    can_hover_me (onHover)="showStyleMenu($event)"></textarea>

  <app-html-element *ngIf="input.InputLabel  && input.InputType == 'button'" [type]="'button'"
    [value]="input.InputLabel" (valueChanged)="valueChanged($event, 'InputLabel')" [ItemStyle]="input.SelectedStyle"
    (copyEvent)="OnCopyEvent($event, 'InputLabel')"></app-html-element>
</div>

<app-mini-menu [showMiniMenu]="input.ShowMiniMenu" [miniMenu]="miniMenu" (miniMenuEvent)="miniMenuEvent($event)">
</app-mini-menu>
