// component css goes here
._row {
    border: 2px dotted rgba(49, 49, 49, 0.195);
    // padding: 3rem 0;
    // max-width: 100%;
    // margin: 0 auto;
    position: relative;

    &:hover {
        border: 2px dotted rgb(49, 49, 49);
        .item-menu {
            opacity: 1;
            // width: 5rem;
        }
    }

    .item-menu{
        right: 0;
        // left: 100%;
    }
}

.item-menu{
    left: 0;
    transform: translateX(0);
    top: 10%;
}