<div class="item" *ngFor="let item of [1,1,1]" idraggable>
  <div class="resizer nw"></div>
  <div class="resizer ne"></div>
  <div class="resizer sw"></div>
  <div class="resizer se"></div>
</div>

<h1 class="absolute" idraggable contenteditable="true">
  Hellow Ndu
</h1>

<div class="absolute" idraggable>
 <p contenteditable="true">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, repellat? Debitis adipisci cupiditate architecto
  repudiandae amet sunt hic, sit autem quos, recusandae illo possimus incidunt ullam deleniti vitae? Ab, ipsum!
 </p>

  <div class="resizer nw"></div>
  <div class="resizer ne"></div>
  <div class="resizer sw"></div>
  <div class="resizer se"></div>
</div>
<div class="absolute" idraggable>
 <p contenteditable="true">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, repellat? Debitis adipisci cupiditate architecto
  repudiandae amet sunt hic, sit autem quos, recusandae illo possimus incidunt ullam deleniti vitae? Ab, ipsum!
 </p>

  <div class="resizer nw"></div>
  <div class="resizer ne"></div>
  <div class="resizer sw"></div>
  <div class="resizer se"></div>
</div>

<div class="image absolute"  idraggable>
  <img src="assets/images/image.png" alt="">
  <div class="resizer nw"></div>
  <div class="resizer ne"></div>
  <div class="resizer sw"></div>
  <div class="resizer se"></div>
</div>
<!-- <button class="btn btn-primary" simpleDirective>Simple Directive</button> -->