.item {
    width: 5em;
    height: 5em;
    background: orange;
    position: absolute;
    cursor: move;
    border-radius: 0.25em;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgb(185, 185, 185);
    z-index: 2;
}

.nw {
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}
.ne {
    top: -1px;
    right: -1px;
    cursor: ne-resize;
}
.sw {
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}
.se {
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}

.absolute {
    position: absolute;
    min-height: 4em;
    min-width: 4em;
}

img {
    width: 100%;
}
