<div *ngIf="showMiniMenu" (click)="closeMenu()" class="overlay _mini-overlay"></div>



<div class="card _mini-menu" [ngStyle]="style" *ngIf="showMiniMenu">
    <h6 class="card-header">{{options}} Options</h6>
    <div class="card-body">
        <div class="">
            <ul class="nav flex-column">
                <li class="nav-item" *ngFor="let item of miniMenu">
                    <a class="nav-link active __target" (click)="selectMenu(item.Action)" [innerHTML]="item.Name">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>