
@import '../../../../assets/styles/colors';
._mini-menu {
    position: fixed;
    // left: 2rem;
    // top: 1rem;
    border-radius: 0.25rem;
    min-width: 17rem;
    width: fit-content;
    min-height: 4em;
    background: $white;
    box-shadow: $box-shadow;
    z-index: 90000003;
    padding-right: 2em;
    font-size: .75rem;
    top: 31%;
    left: 42%;
    text-align: left;

    .card{
        width: 100%;
    }

    a{
        cursor: pointer;
        font-size: .65rem;
        padding: .25rem !important;
    }

    .fas {
        margin-right: 0.5rem;
    }
}

.card-header{
    color: $bg;
    text-transform: uppercase !important;
    font-size: .75rem;
}