<div class="__target options-modal" [ngStyle]="styles">


  <div class="__target heading d-flex justify-content-between">
    <h5>
      {{name || type}} styles
    </h5>

    <i (click)="close()" class="_close fas fa-times"></i>
  </div>

  <div class="__target body">

    <div class="__target accordion" id="accordionExample">




      <!-- Size -->
      <div class="__target accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="__target accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Size
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">


          <div class="accordion-body">




            <div class="__target grid-1" *ngIf="type">
              <div class="__target grid-col">
                <label>Width </label>
                <app-units [inputValue]="width" (valueEvent)="formatStylesEvent($event,'width')"></app-units>
                <!-- <input type="number" class="__target form-control" [(ngModel)]="width"
                  (input)="formatStyles('width',width, 'px')" aria-label="Server"> -->
              </div>
              <div class="__target grid-col">
                <label>Height</label>
                <input type="number" class="__target form-control" [(ngModel)]="height"
                  (input)="formatStyles('height',height, 'vh')" aria-label="Server">

              </div>
              <div class="__target grid-col">
                <label>Min Width</label>

                <input type="number" class="__target form-control" [(ngModel)]="minWidth"
                  (input)="formatStyles('min-width',minWidth, 'px')" aria-label="Username">

              </div>
              <div class="__target grid-col">
                <label>Min Hieght</label>
                <input type="number" class="__target form-control" [(ngModel)]="minHeight"
                  (input)="formatStyles('min-height',minHeight, 'vh')" aria-label="Username">
              </div>

              <div class="__target grid-col">
                <label>Max Width</label>

                <input type="number" class="__target form-control" [(ngModel)]="maxWidth"
                  (input)="formatStyles('max-width',maxWidth, '%')" aria-label="Server">

              </div>
              <div class="__target grid-col">
                <label>Max Hieght</label>
                <input type="number" class="__target form-control" [(ngModel)]="maxHeight"
                  (input)="formatStyles('max-height',maxHeight, 'vh')" aria-label="Server">
              </div>
            </div>


          </div>
        </div>
      </div>



      <!-- Content width -->

      <div class="__target accordion-item" *ngIf="type === 'row'">
        <h2 class="accordion-header" id="textHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseContentWidth" aria-expanded="false" aria-controls="collapseContentWidth">
            Columns
          </button>
        </h2>
        <div id="collapseContentWidth" class="accordion-collapse collapse" aria-labelledby="contentWidthHeading"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">


            <div class="__target grid-1" *ngIf="type">

              <div class="__target grid-col">
                <label>Column sizes</label>
                <input type="text" class="__target form-control" [(ngModel)]="contentTemplateColumns"
                  (input)="formatStyles('grid-template-columns',contentTemplateColumns, '')" aria-label="Server">
              </div>

              <div class="__target grid-col">
                <label>Max width</label>
                <input type="number" class="__target form-control" [(ngModel)]="contentMaxWidth"
                  (input)="formatStyles('max-width',contentMaxWidth, 'rem')" aria-label="Server">
              </div>

              <div class="__target grid-col">
                <label>Columns Gap</label>
                <input type="number" class="__target form-control" [(ngModel)]="contentGap"
                  (input)="formatStyles('gap',contentGap, 'px')" aria-label="Server">
              </div>


              <div class="__target grid-col">
                <label>Columns Bg</label>
                <input type="color" class="__target form-control" [(ngModel)]="contentBg"
                  (input)="formatStyles('background',contentBg, '')" aria-label="Server">
              </div>



            </div>


          </div>
        </div>
      </div>





      <!-- Text -->

      <div class="__target accordion-item" *ngIf="
      type === 'h1'
      || type === 'h2'
      || type === 'h3'
      || type === 'h4'
      || type === 'h5'
      || type === 'a'
      || type === 'h6'
      || type === 'p'
      || type === 'button'
      ">
        <h2 class="accordion-header" id="textHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseText" aria-expanded="false" aria-controls="collapseText">
            Text
          </button>
        </h2>
        <div id="collapseText" class="accordion-collapse collapse" aria-labelledby="textHeading"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">


            <div class="__target grid-2" *ngIf="type">
              <div class="__target grid-col">
                <label>Font size</label>
                <input type="number" class="__target form-control" [(ngModel)]="fontSize"
                  (input)="formatStyles('font-size',fontSize, 'px')" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Font Weight</label>
                <select class="__target form-select" [(ngModel)]="fontWeight"
                  (change)="formatStyles('font-weight',fontWeight, '')">
                  <option [value]="item" *ngFor="let item of [100,200,300,400,500,600,700,800,900]">{{item}}
                  </option>

                </select>
              </div>
              <div class="__target grid-col">
                <label>Font Style</label>

                <select class="__target form-select" [(ngModel)]="fontStyle"
                  (change)="formatStyles('font-style',fontStyle, '')">
                  <option [value]="item" *ngFor="let item of ['normal','italic']">{{item}}
                  </option>

                </select>
              </div>

              <div class="__target grid-col">
                <label>Text underline</label>

                <select class="__target form-select" [(ngModel)]="textDecoration"
                  (change)="formatStyles('text-decoration',textDecoration, '')">
                  <option [value]="item"
                    *ngFor="let item of ['none','overline','line-through','underline','underline overline']">{{item}}
                  </option>

                </select>
              </div>
              <div class="__target grid-col">
                <label>Text align</label>

                <select class="__target form-select" [(ngModel)]="textAlign"
                  (change)="formatStyles('text-align',textAlign, '')">
                  <option [value]="item" *ngFor="let item of ['none','left','center','right']">{{item}}
                  </option>

                </select>
              </div>

              <div class="__target grid-col">
                <label>Text color</label>

                <input type="color" class="__target form-control" [(ngModel)]="color"
                  (input)="formatStyles('color',color, '')" aria-label="Server">
              </div>

            </div>


          </div>
        </div>
      </div>






      <!-- Background -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="BackgroundHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseBackground" aria-expanded="false" aria-controls="collapseBackground">
            Background
          </button>
        </h2>
        <div id="collapseBackground" class="accordion-collapse collapse" aria-labelledby="BackgroundHeading"
          data-bs-parent="#accordionExample">

          <div class="accordion-body">
            <div class="__target grid-2" *ngIf="type">

              <div class="__target grid-col">
                <label>Bg repeat</label>
                <select class="__target form-select" [(ngModel)]="backgroundRepeat"
                  (change)="formatStyles('background-repeat',backgroundRepeat, '')">
                  <option [value]="item" *ngFor="let item of ['repeat', 'no-repeat']">{{item}}</option>
                </select>
              </div>
              <div class="__target grid-col">
                <label>Bg size</label>
                <select class="__target form-select" [(ngModel)]="backgroundSize"
                  (change)="formatStyles('background-size',backgroundSize, '')">
                  <option [value]="item" *ngFor="let item of ['cover', 'contain','auto']">{{item}}</option>
                </select>
              </div>

              <div class="__target grid-col">
                <label>Bg Position</label>
                <select class="__target form-select" [(ngModel)]="backgroundPosition"
                  (change)="formatStyles('background-position',backgroundPosition, '')">
                  <option [value]="item" *ngFor="let item of ['left', 'center','right']">{{item}}</option>
                </select>
              </div>


              <div class="__target grid-col">
                <label for=""></label>
                <button style="top:1rem;" class="__target btn btn-link" (click)="showBG = !showBG">
                  <i class="__target fas fa-image"></i>
                </button>
              </div>

            </div>


            <br>

            <div class="__target grid-2" *ngIf="type">

              <div class="__target grid-col">
                <label>Bg Color</label>
                <input type="color" class="__target form-control" [(ngModel)]="background"
                  (input)="formatStyles('background-color',background, '')" aria-label="Username">
              </div>

              <div class="__target grid-col">
                <label>Text color</label>

                <input type="color" class="__target form-control" [(ngModel)]="color"
                  (input)="formatStyles('color',color, '')" aria-label="Server">
              </div>

            </div>

            <br>
            <div class="__target grid-2" *ngIf="type">

              <div class="__target grid-col">
                <label>Overlay color</label>
                <input type="color" class="__target form-control" [(ngModel)]="overlayColor"
                  (input)="formatStyles('overlay-color',overlayColor, '')" aria-label="Username">
              </div>
              <div class="__target grid-col">
                <label>Transperency</label>
                <select class="__target form-select" [(ngModel)]="overlayOpercity"
                  (change)="formatStyles('overlay-opercity',overlayOpercity, '')">
                  <option [value]="item" *ngFor="let item of [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]">{{item}}</option>
                </select>
              </div>
            </div>
            <br>

          </div>

        </div>
      </div>




      <!-- Margin -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Margin
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="__target grid-1" *ngIf="type">
              <div class="__target grid-col">
                <label>Margin</label>
                <input type="text" class="__target form-control" [(ngModel)]="margin"
                  (input)="formatStyles('margin',margin, '')" aria-label="Server" style="margin-bottom:.5rem">
              </div>
            </div>

            <div class="__target grid-2" *ngIf="type">
              <div class="__target grid-col">
                <label>Left</label>
                <input type="number" class="__target form-control" [(ngModel)]="marginLeft"
                  (input)="formatStyles('margin-left',marginLeft, 'px')" placeholder="" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Top</label>
                <input type="number" class="__target form-control" [(ngModel)]="marginTop"
                  (input)="formatStyles('margin-top',marginTop, 'px')" placeholder="" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Right</label>

                <input type="number" class="__target form-control" [(ngModel)]="marginRight"
                  (input)="formatStyles('margin-right',marginRight, 'px')" placeholder="" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Bottom</label>
                <input type="number" class="__target form-control" [(ngModel)]="marginBottom"
                  (input)="formatStyles('margin-bottom',marginBottom, 'px')" placeholder="" aria-label="Server">
              </div>
            </div>


          </div>
        </div>
      </div>









      <!-- Padding -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Padding
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="__target grid-1" *ngIf="type">
              <div class="__target grid-col">
                <label>Padding</label>
                <input type="text" class="__target form-control" [(ngModel)]="padding"
                  (input)="formatStyles('padding',padding, '')" aria-label="Server" style="margin-bottom: .5rem;">
              </div>
            </div>

            <div class="__target grid-2" *ngIf="type">
              <div class="__target grid-col">
                <label>Left</label>
                <input type="number" class="__target form-control" [(ngModel)]="paddingLeft"
                  (input)="formatStyles('padding-left',paddingLeft, '%')" placeholder="Left" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Top</label>
                <input type="number" class="__target form-control" [(ngModel)]="paddingTop"
                  (input)="formatStyles('padding-top',paddingTop, 'px')" placeholder="Top" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Right</label>

                <input type="number" class="__target form-control" [(ngModel)]="paddingRight"
                  (input)="formatStyles('padding-right',paddingRight, 'px')" placeholder="Right" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Bottom</label>
                <input type="number" class="__target form-control" [(ngModel)]="paddingBottom"
                  (input)="formatStyles('padding-bottom',paddingBottom, 'px')" placeholder="Bottom" aria-label="Server">
              </div>
            </div>


          </div>
        </div>
      </div>




      <!-- Position -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="positionHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePosition" aria-expanded="false" aria-controls="collapsePosition">
            Position
          </button>
        </h2>
        <div id="collapsePosition" class="accordion-collapse collapse" aria-labelledby="positionHeading"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">


            

            <div class="__target grid-2" *ngIf="type">
              <div class="__target grid-col">
                <label>Position</label>
                <select class="__target form-select mb-2" [(ngModel)]="position"
                  (change)="formatStyles('position',position, '')">
  
                  <option [value]="item" *ngFor="let item of ['relative','absolute','fixed']">{{item}}
                  </option>
                </select>
              </div>

              <div class="__target grid-col">
                <label>Z Index</label>
                <input type="number" class="__target form-control" [(ngModel)]="zIndex"
                  (input)="formatStyles('z-index',zIndex, '')"  aria-label="Username">
              </div>
            </div>

            <div class="__target grid-2" *ngIf="type">
              <div class="__target grid-col">
                <label>Left</label>
                <input type="number" class="__target form-control" [(ngModel)]="left"
                  (input)="formatStyles('left',left, 'em')" placeholder="Left" aria-label="Username">
              </div>
              <div class="__target grid-col">
                <label>Top</label>
                <input type="number" class="__target form-control" placeholder="Top" [(ngModel)]="top"
                  (input)="formatStyles('top',top, 'em')" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Right</label>

                <input type="number" class="__target form-control" [(ngModel)]="right"
                  (input)="formatStyles('right',right, 'em')" placeholder="Right" aria-label="Server">
              </div>
              <div class="__target grid-col">
                <label>Bottom</label>
                <input type="number" class="__target form-control" [(ngModel)]="bottom"
                  (input)="formatStyles('bottom',bottom, 'em')" placeholder="Bottom" aria-label="Server">
              </div>
            </div>


          </div>
        </div>
      </div>




      <!-- Borders -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="borderHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseBorder" aria-expanded="false" aria-controls="collapseBorder">
            Borders & shadow
          </button>
        </h2>
        <div id="collapseBorder" class="accordion-collapse collapse" aria-labelledby="borderHeading"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="__target grid-col">
              <label>Border</label>
              <input type="text" class="__target form-control" [(ngModel)]="border"
                (input)="formatStyles('border',border, '')">
            </div>


            <div class="__target grid-col">
              <label>Border radius</label>
              <input type="number" class="__target form-control" [(ngModel)]="borderRadius"
                (input)="formatStyles('border-radius', borderRadius, 'px')">
            </div>


            <div class="__target grid-col">
              <label>Box shadow</label>
              <input type="text" class="__target form-control" [(ngModel)]="boxShadow"
                (input)="formatStyles('box-shadow', boxShadow, '')">
            </div>



          </div>
        </div>
      </div>



      <!-- Align items -->

      <div class="__target accordion-item">
        <h2 class="accordion-header" id="alignHeading">
          <button class="__target accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseAlign" aria-expanded="false" aria-controls="collapseAlign">
            Align items
          </button>
        </h2>
        <div id="collapseAlign" class="accordion-collapse collapse" aria-labelledby="alignHeading"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">


            <div class="__target grid-col">
              <label>Display</label>
              <select class="__target form-select" [(ngModel)]="display" (change)="formatStyles('display',display, '')">

                <option [value]="item" *ngFor="let item of ['block','inline-block','inline','grid' ,'none', 'flex']">
                  {{item}}
                </option>


              </select>
            </div>

            <div class="__target grid-col">
              <label>Format</label>
              <select class="__target form-select" [(ngModel)]="flexDirection"
                (change)="formatStyles('flex-direction',flexDirection, '')">

                <option value="row">Horizontal</option>
                <option value="column">Vertical</option>

              </select>
            </div>


            <br>
            <div class="__target grid-col">
              <label>Horizontal Align</label>
              <select class="__target form-select" [(ngModel)]="justifyContent"
                (change)="formatStyles('justify-content',justifyContent, '')">

                <option [value]="item" *ngFor="let item of ['start','center','end']">{{item}}
                </option>

              </select>
            </div>
            <br>
            <div class="__target grid-col">
              <label>Vertical Align</label>
              <select class="__target form-select" [(ngModel)]="alignItems"
                (change)="formatStyles('align-items',alignItems, '')">

                <option [value]="item" *ngFor="let item of ['stretch','center','flex-start','flex-end','baseline','initial','inherit']">{{item}}
                </option>

              </select>
            </div>


            <br>


            <div class="__target grid-col">
              <label>Columns Gap</label>
              <input type="number" class="__target form-control" [(ngModel)]="gap"
                (input)="formatStyles('gap',gap, 'px')" aria-label="Server">
            </div>



          </div>
        </div>
      </div>




    </div>


  </div>

  <app-image-picker *ngIf="showImage" (onClose)="showImage= false" (onImageSelect)="onImageSelect($event)">
  </app-image-picker>
  <app-image-picker *ngIf="showBG" (onClose)="showBG= false" (onImageSelect)="onBgChanged($event)"></app-image-picker>