@import '../../../../assets/styles/colors';
.grid-col {
    min-height: auto;
    border: none;
    color: $bg;

    label,
    input,
    select,
    .input-group-text {
        // width: 5em;
        font-size: 0.8rem;
    }

    label {
        font-weight: 400;
        padding: .25em 0;
    }
}

.heading{
    padding: 1rem;
    h5{
        color: $bg;
    }
}

._close{
    color: $bg;
}

.btn{
    font-size: 2.6em !important;
}

.accordion-button{
    font-size: .8rem !important;
}
.accordion-item{
    background: rgb(213, 213, 213);
}
select option{text-transform: capitalize;}