<div class="card contextmenu_card" *ngIf="card" 
    [ngStyle]="card.SelectedStyle" can_drop_on_me
    (onCardDrop)="onCardDrop($event)">

    <!-- Mini-Menu -->

    <div *ngIf="card.ShowMiniMenu" (click)="closeMenu()" class="overlay _mini-overlay"></div>
    <div *ngIf="card.ShowMiniMenu" class="_mini-menu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active __target" (click)="selectMenu('copy-styles',card)"><i
                        class="fas fa-copy"></i>Copy
                    styles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active __target" (click)="selectMenu('delete',card)"><i
                        class="fas fa-trash"></i>Delete card</a>
            </li>
            <li class="nav-item" *ngIf="stylesToPaste">
                <a class="nav-link active __target" (click)="selectMenu('paste-styles',card)"><i
                        class="fas fa-clipboard"></i>Paste styles</a>
            </li>

        </ul>
    </div>


    <img class="item-menu contextmenu_section" src="assets/images/card-icon.svg"
    (contextmenu)="onRightClick($event)"   can_hover_me (onHover)="showStyleMenu($event)">



    <app-element-options *ngIf="card && card.ShowOptions" [name]="card.Name" [type]="'section'"
        [ItemStyle]="card.SelectedStyle">
    </app-element-options>


    <app-html-element *ngIf="card.ImageUrl" [type]="'image'" [value]="card.ImageUrl"
        (valueChanged)="valueChanged($event,card, 'ImageUrl')" [ItemStyle]="card.ImageStyles"
        (copyEvent)="OnCopyEvent($event,card, 'ImageUrl')" (deleteEvent)="onDelete($event,'ImageUrl')" (onImageChange)="onImageChange($event, card)">
    </app-html-element>

    <div class="card-body contextmenu_card" *ngIf="card.ItemHeading || card.ItemContent || card.ItemEventName">
        <app-html-element *ngIf="card.ItemHeading" [type]="'h5'" [value]="card.ItemHeading"
            (valueChanged)="valueChanged($event,card, 'ItemHeading')" [ItemStyle]="card.HeadingStyles"
            (copyEvent)="OnCopyEvent($event,card, 'ItemHeading')"></app-html-element>

        <app-html-element *ngIf="card.ItemContent" [type]="'p'" [value]="card.ItemContent"
            (valueChanged)="valueChanged($event,card, 'ItemContent')" [ItemStyle]="card.ContentStyles"
            (copyEvent)="OnCopyEvent($event,card, 'ItemContent')"></app-html-element>

        <app-html-element *ngIf="card.ItemEventName" [type]="'button'" [value]="card.ItemEventName"
            (valueChanged)="valueChanged($event,card, 'ItemEventName')" [ItemStyle]="card.ImageStyles"
            (copyEvent)="OnCopyEvent($event,card, 'ItemEventName')"></app-html-element>

    </div>
</div>