<app-responsive-nav-bar></app-responsive-nav-bar>
<div class="body">
    <header class="center home">


        <!-- <h1>
            Stay in control, with
            fully editable websites.
        </h1> -->

        <!-- <h1>
           Every thing you want in a website, without touching code.
        </h1> -->
        <!-- <h1>
            Creating a functional website for your startup made simple & faster.
        </h1> -->







        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <!-- We help startups build profitable websites without touching code. -->
                        Build fully responsive websites without touching code.
                    </h1>


                </div>
                <div class="col-md-6">
                    <p class="w-75">
                        <!-- Website content often changes. You don't want to have a hard to edit website. Create your website with Tybo
            instead - and communicate with your audience in a much more flexible way. -->

                        <!-- 
                        Build a profitable responsive website using Tybo, an online-based drag & drop site editor
                        created to save
                        you time and money. Don't have time? Don't worry, we have proffetionals to help you. -->

                        Should creating and managing a website be a stressfull and time wasting proccess? Nah, just drag
                        and drop.
                    </p>

                    <div class="actions">
                        <a routerLink="/account/create-a-new-website" class="btn btn-primary">
                            Create a website
                        </a>
                        <a class="btn btn-dark">
                            Hire a developer
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img class="main-bg" src="../../../assets/images/editor/main-bg.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <section class="">
        <div class="con">
            <h2 class="center">
               Your website is Few Clicks away.
            </h2>

            <div class="split">
                <div>
                    <p>Forget about spending hours learning how to code or trying to find a good developer to create
                        your website. Tybo In Just Few Clicks enables you to create stunning and unique websites,
                        already integrated with google analytics, maps, seo, payfast and more.

                        </p>
                </div>
                <div>
                    <p>Good thing is you can do all this by your self in this platform or our team can handle all this
                        admin work for you, we are a software company after all.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="con">
            <div class="split">
                <div>
                    <h2>Ecommerce</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt accusamus vel expedita
                        debitis, eveniet ea
                        obcaecati reiciendis, iste earum, commodi accusantium impedit? Dolorum perferendis harum dicta
                        corporis nam!
                    </p>
                </div>
                <div>
                    <img src="../../../assets/images/mock/t2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark">
        <div class="con">
            <div class="split">
                <div>
                    <img src="../../../assets/images/mock/t1.png" alt="">
                </div>
                <div>
                    <h2>Service booking</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum totam, veritatis a non quidem
                        soluta fugit
                        error voluptate sapiente quas?</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- 
<h1 *ngIf="loggedIn">
    Hello user
</h1>

<h1 *ngIf="!loggedIn">
    Not in
</h1> -->