<div *ngIf="column" [ngStyle]="column.SelectedStyle" class="column" [id]="column.ColumnId" can_drop_on_me
    (onDrop)="onDrop($event)">



    <img class="item-menu contextmenu_section" src="assets/images/col-icon.svg"
        (contextmenu)="onRightClick($event)" (click)="toggleOptions()">


    <!-- <img class="item-menu contextmenu_section" src="assets/images/col-icon.svg"
        (contextmenu)="onRightClick($event)" can_hover_me (onHover)="showStyleMenu($event,column)"> -->


    <app-mini-menu [showMiniMenu]="column.ShowMiniMenu" [miniMenu]="miniMenu" (miniMenuEvent)="miniMenuEvent($event)">
    </app-mini-menu>


<!-- 
    <app-element-options *ngIf="column && column.ShowOptions" [type]="'column'" [ItemStyle]="column.SelectedStyle">
    </app-element-options> -->

    <div *ngFor="let widget of column.Widgets; let i = index" class="widget">
        <app-column-widget [widget]="widget" [website]="website"  [index]="i" [column]="column"></app-column-widget>
    </div>

</div>