.master{
    color: rgb(255, 255, 255);

    // height: 22em;
    // margin: 4em auto;
    // max-width: 15em;
}
.nav-holder {
    height: 8vh;
    border-radius: 0;
    margin: 0em auto;
    background: #1e272e;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    border-bottom: 1px solid rgb(69, 67, 67);
}




.master-container::-webkit-scrollbar {
    width: 1em;
}

.master-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.master-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.master-container {
    height: 99vh;
    border-radius: 0;
    // max-width: 60em;
    margin: 0em auto;
    // overflow-y: scroll;
    background: #1e272e;

    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
