<div class="_main"  [ngClass]="mainClass">
  <div class="item" *ngIf="id == 'editor'">
    <app-editor></app-editor>
  </div>
  <div class="item" *ngIf="id != 'editor' && website">
        <!-- GLOBAL HEADER -->
        <div class="nav-holder" *ngIf="website && website.Header">
          <app-public-section *ngIf="page" [section]="website.Header" [website]="website" [page]="page"  [sectionIndex]="0"></app-public-section>
        </div>
  
        <!-- BODY -->
        <div class="body-holder" *ngIf="page && page.Sections && page.Sections.length">
          <div class="section holder" *ngFor="let section of page.Sections; let i = index" [id]="section.SectionId">
            <app-public-section [section]="section" [website]="website" [page]="page"  [sectionIndex]="i"></app-public-section>
          </div>
        </div>
  
  </div>


<!-- 
  <pre>
    {{ this.website | json }}
  </pre> -->
</div>