<div [ngClass]="mainClass">
  <app-editor *ngIf="id == 'editor'" [id]="id" [id2]="id2" ></app-editor>
  <app-templates *ngIf="id == 'templates'"></app-templates>
  <!-- <pre>
    {{ website | json }}
  </pre> -->
  <div *ngIf="id != 'editor' && id != 'templates' && website" [ngClass]="website.ItemClass">
    <div class="sections" *ngIf="page && website">

      <div class="section holder" *ngIf="website.Header">
        <app-page-public-tree [page]="page" [widget]="website.Header" [website]="website">
        </app-page-public-tree>
      </div>
<!-- 
      <pre>
        {{website | json}}
      </pre> -->
      <div class="body-holder">
        <app-page-public-tree  *ngFor="let widget of page.Widgets; let i = index" [dataId]="id2" [id]="widget.WidgetId" [page]="page" [dataId]="id2"
          [widget]="widget" [website]="website">
        </app-page-public-tree>
      </div>

    </div>

  </div>
</div>

