@import '../../../../assets/styles/colors';
.section-name{
    display: block;
    width: 100%;
    font-size: .75rem;
    background: none;
    color: $white;
    border: none;
}


._container{
    padding-left: 1rem;
}