<ng-template #nodeTemplateRef let-node>

    <div *ngIf="node.Children.length  && node.ItemType === SectionTypes.CONTAINER" class="_container" can_drop_on_me
        (onDrop)="onDrop($event,node)">
        <input class="section-name" (click)="toggleOptions(node)" [(ngModel)]="node.Name"/>

        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">
        </ng-template>

    </div>



    <div *ngIf="!node.Children.length && node.ItemType === SectionTypes.CONTAINER" class="_container" can_drop_on_me
        (onDrop)="onDrop($event,node)">
        <input class="section-name" (click)="toggleOptions(node)" [(ngModel)]="node.Name"/>
      
    </div>

    <div *ngIf="!node.Children.length && node.ItemType !== SectionTypes.CONTAINER" class="_widget">
        <input class="section-name" (click)="toggleOptions(node)" [(ngModel)]="node.Name"/>
    </div>

    <div *ngIf="node.Children.length && node.ItemType === SectionTypes.MENU" class="_widget _container">
        <input class="section-name" (click)="toggleOptions(node)" [(ngModel)]="node.Name"/>
        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">
        </ng-template>

    </div>

</ng-template>

<ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ $implicit: widget }">
</ng-template>