<ng-template #nodeTemplateRef let-node>

    <div *ngIf="node.Children.length  && node.ItemType === SectionTypes.CONTAINER  && !node.IsTemplate" #section
        [id]="node.WidgetId" class="_container" can_drop_on_me [ngClass]="node.ItemClass">

        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">

        </ng-template>
        <span class="_resizer" [id]="node.WidgetId" *ngIf="node.ShowOptions">
            <span></span>
        </span>

    </div>


    <ul *ngIf="node.Children.length  && node.ItemType === SectionTypes.UL  && !node.IsTemplate" #section
        [id]="node.WidgetId" class="_container" can_drop_on_me [ngClass]="node.ItemClass">

        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">

        </ng-template>
    </ul>

    
    <li *ngIf="node.Children.length  && node.ItemType === SectionTypes.LI  && !node.IsTemplate" #section
        [id]="node.WidgetId" class="_container" can_drop_on_me [ngClass]="node.ItemClass">

        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">

        </ng-template>
    </li>




    <div *ngIf="!node.Children.length && node.ItemType === SectionTypes.CONTAINER" class="_container" can_drop_on_me
        [id]="node.WidgetId" [ngClass]="node.ItemClass">

        <span class="_resizer" [id]="node.WidgetId" *ngIf="node.ShowOptions">
            <span></span>
        </span>

    </div>

    <ng-container *ngIf="!node.Children.length && node.ItemType !== SectionTypes.CONTAINER">
        <app-page-widget [widget]="node" [page]="page" [isPublic]="isPublic" [dataId]="dataId"></app-page-widget>
    </ng-container>

    <div *ngIf="node.Children.length && node.ItemType === SectionTypes.MENU" class="_widget" [ngClass]="node.ItemClass">
        <ng-template ngFor [ngForOf]="node.Children" [ngForTemplate]="nodeTemplateRef">
        </ng-template>

    </div>

</ng-template>

<ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ $implicit: widget }">
</ng-template>