<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.TEXT" (click)="toggleOptions()">
    <p [ngClass]="widget.ItemClass">
        <font *ngIf="widget.ItemFormat !== 'Currency'" [innerHTML]="widget.ItemContent"></font>
        <font *ngIf="widget.ItemFormat === 'Currency'"> {{widget.ItemContent | currency: 'R'}}</font>
    </p>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (dbEvent)="dbEvent()" (changeImageEvent)="changeImageEvent()"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>

<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.HEADING" (click)="toggleOptions()">
    <h1 [ngClass]="widget.ItemClass" *ngIf="!widget.EditText">
        <font *ngIf="widget.ItemFormat !== 'Currency'" [innerHTML]="widget.ItemContent"></font>
        <font *ngIf="widget.ItemFormat === 'Currency'"> {{widget.ItemContent | currency: 'R'}}</font>
    </h1>

    <h1  *ngIf="widget.EditText" [(ngModel)]="widget.ItemContent" contenteditable [ngClass]="widget.ItemClass">
    </h1>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (dbEvent)="dbEvent()" (changeImageEvent)="changeImageEvent()" (menuEvent)="menuEvent($event)"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>



<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.A" (click)="toggleOptions()">
    <a [ngClass]="widget.ItemClass">
        <font *ngIf="widget.ItemFormat !== 'Currency'" [innerHTML]="widget.ItemContent"></font>
        <font *ngIf="widget.ItemFormat === 'Currency'"> {{widget.ItemContent | currency: 'R'}}</font>
    </a>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (dbEvent)="dbEvent()" (changeImageEvent)="changeImageEvent()"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>



<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.BUTTON" (click)="toggleOptions()">
    <button [ngClass]="widget.ItemClass">
        <font *ngIf="widget.ItemFormat !== 'Currency'" [innerHTML]="widget.ItemContent"></font>
        <font *ngIf="widget.ItemFormat === 'Currency'"> {{widget.ItemContent | currency: 'R'}}</font>
    </button>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (setEditText)="setEditText()" (deleteEvent)="delete()" (cloneEvent)="clone()"
        (openMenuEvent)="openMenuEvent()" (menuEvent)="menuEvent($event)" (clickEvent)="onClickEvent()"
        (copyStyleEvent)="copyStyles()" (pasteStyleEvent)="pasteStyles()"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>

<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.TEXTBOX" (click)="toggleOptions()">
    <input [(ngModel)]="widget.ItemContent" [ngClass]="widget.ItemClass" />
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
</span>

<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.TEXTAREA" (click)="toggleOptions()">
    <textarea [(ngModel)]="widget.ItemContent" [ngClass]="widget.ItemClass"></textarea>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
</span>

<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.IMAGE && backgroundImg"
    (click)="toggleOptions()">
    <img [src]="widget.ItemContent" [ngClass]="widget.ItemClass" alt="">
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (dbEvent)="dbEvent()" (changeImageEvent)="changeImageEvent()" (deleteEvent)="delete()"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>


<span class="tybo-tag" *ngIf="widget && widget.ItemType === SectionTypes.VIDEO" (click)="toggleOptions()">
    <video [ngClass]="widget.ItemClass" muted loop autoplay>
        <source [src]="widget.ItemContent" type="video/mp4" />
    </video>
    <span class="resizer" *ngIf="widget.ShowOptions"></span>
    <app-tag-menu (dbEvent)="dbEvent()" (changeImageEvent)="changeImageEvent()" (deleteEvent)="delete()"
        *ngIf="page && website && widget && widget.ShowOptions" [page]="page" [website]="website" [widget]="widget">
    </app-tag-menu>
</span>


<app-image-picker *ngIf="showImage" (onClose)="showImage= false" (onImageSelect)="onImageSelect($event)">
</app-image-picker>

<app-widget-events [widget]="widget" *ngIf="widget && showEvents && page && website && user" [user]="user"
    [website]="website" [page]="page" (onClose)="showEvents= false"></app-widget-events>