<!-- <h1>
  <pre>
   {{section.SelectedStyle | json}}
 </pre>
</h1> -->

<div class="section" *ngIf="section" [ngStyle]="section.SelectedStyle">
  <div class="_row" *ngFor="let row of section.Rows; let i = index">

    <div [ngStyle]="row.SelectedStyle" class="_row" [id]="row.RowId">
      <!-- <pre>
  {{ row.SelectedStyle | json }}
</pre> -->
      <div class="_column" *ngFor="let column of row.Columns; let i = index">

        <div *ngIf="column" [ngStyle]="column.SelectedStyle" class="column" [id]="column.ColumnId">

          <div *ngFor="let widget of column.Widgets; let i = index" class="widget">
            <app-public-column-widget [widget]="widget" [website]="website" [index]="i" [column]="column">
            </app-public-column-widget>
          </div>

        </div>

      </div>


    </div>
  </div>
</div>


<!-- <hr>
<pre>
  {{ section | json }}
</pre>
<hr> -->