<div class="hr"></div>

<div class="macro-style-container" *ngIf="widget && display === 'flex'">

    <div class="mb-3 _menuu  d-flex justify-content-start" style="gap: 1rem;">
        <div class="corner-image" (mouseleave)="showDirection = false">
            <label for="">Direction</label>
            <img [src]="direction.Image" alt="" (click)="showDirection = true">
            <div class="corner-options" *ngIf="showDirection">
                <div class="item" *ngFor="let item of directions" (click)="selectDirection(item)">
                    <img [src]="item.Image" alt="">
                </div>
            </div>
        </div>
        <div class="corner-image" (mouseleave)="showJustify = false">
            <label for="">Flow</label>
            <img [src]="justify.Image" alt="" (click)="showJustify = true">
            <div class="corner-options" *ngIf="showJustify">
                <div class="item" *ngFor="let item of justifyItemsList" (click)="selectJustify(item)">
                    <img [src]="item.Image" alt="">
                </div>
            </div>
        </div>
        <div class="corner-image" (mouseleave)="showAlign = false">
            <label for="">Align</label>
            <img [src]="align.Image" alt="" (click)="showAlign = true">
            <div class="corner-options" *ngIf="showAlign">
                <div class="item" *ngFor="let item of alignItems" (click)="selectAlign(item)">
                    <img [src]="item.Image" alt="">
                </div>
            </div>
        </div>


    </div>
</div>


<div class="macro-style-container" *ngIf="widget && display === 'grid'">
    <label for="basic-url" class="form-label">Number of columns</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="gridChanged()"
        [(ngModel)]="gridColumns">
        <option [value]="item" *ngFor="let item of [1,2,3,4,5,6]">{{item}}</option>
    </select>
</div>