<!-- <div class="section" *ngIf="section" [ngClass]="section.ItemClass">
  <div class="grid-col">
    <div class="" *ngFor="let widget of section.Widgets">
      <app-html-element [type]="widget.ElementType" [value]="widget.ItemContent"  (valueChanged)="valueChanged($event,widget)"  *ngIf="widget.ColNumber === 1"
        [ItemStyle]="widget.SelectedStyle"></app-html-element>
    </div>
  </div>
  <div class="grid-col">
    <div class="" *ngFor="let widget of section.Widgets">
      <app-html-element [type]="widget.ElementType" [value]="widget.ItemContent" (valueChanged)="valueChanged($event,widget)" *ngIf="widget.ColNumber === 2"
        [ItemStyle]="widget.SelectedStyle"></app-html-element>
    </div>
  </div>
</div> -->