<div class="align-icons style-styles">
    <p>
        Docking
    </p>
    <div class="d-flex d-flex justify-content-between">
        <div class="btn-dock">
            <div class="btn-dock-border"></div>
            <div class="dock-direction top active"></div>
            <div class="dock-direction left active"></div>
            <div class="dock-direction right"></div>
            <div class="dock-direction bottom"></div>
        </div>
        <div class="_options">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Top</option>
                <option value="1">Bottom</option>
                <option value="1">Center</option>
            </select>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Left</option>
                <option value="1">Right</option>
                <option value="1">Center</option>
            </select>
        </div>
    </div>
</div>