@import '../../../../../assets/styles/colors';
.style-styles {
    display: block;
}
select {
    margin: 0;
    // width: 2rem !important;
    padding: 0 3px !important;
    border-radius: 0 !important;
    text-align: left;
}
input[type="color"] {
    border-radius: 0 !important;
    border: .1px solid $cloud !important;
}
.form-control{
    text-align: left;
}