<ul *ngIf="widget" class="ul contextmenu_card" [ngStyle]="widget.SelectedStyle">
  
  <img class="item-menu contextmenu_section" src="assets/images/list-icon.svg" can_hover_me
  (onHover)="showULStyleMenu($event,widget)" alt="">


  <app-element-options *ngIf="widget && widget.ShowOptions" [type]="'widget'" [ItemStyle]="widget.SelectedStyle">
  </app-element-options>

  <li *ngFor="let card of widget.Children" >
    <app-html-element *ngIf="card.ItemContent" [type]="'a'" [value]="card.ItemContent"
    (valueChanged)="valueChanged($event,card, 'ItemContent')" [ItemStyle]="card.ContentStyles"
    (copyEvent)="OnCopyEvent($event,card, 'ItemContent')"></app-html-element>
  </li>
</ul>

