<!-- <div> -->
  <ul *ngIf="widget && !isBurgerMenu" class="ul contextmenu_card" [ngStyle]="widget.SelectedStyle">


    <li *ngFor="let navItem of widget.Children">
      <app-public-html-element *ngIf="navItem.ItemContent" [type]="'a'" [value]="navItem.ItemContent"
        [ItemStyle]="navItem.ContentStyles" (clickEvent)="linkClick($event,navItem)"></app-public-html-element>
    </li>
  </ul>

<!-- </div> -->





<div class="relative" *ngIf="isBurgerMenu">

  <app-public-html-element *ngIf="isBurgerMenu && widget" [type]="'button'" (clickEvent)="linkClick($event,widget)"
  [parent]="widget" [value]="widget.ItemEventName" [ItemStyle]="widget.SelectedStyle"></app-public-html-element>

  
  <div *ngIf="showMenu && menuItemWrapper" [ngStyle]="menuItemWrapper.SelectedStyle">
    <div class="items">
      <div class="item" *ngFor="let menuItem of menuItems">
        <app-html-element *ngIf="menuItem.ItemContent" [type]="'a'" [parent]="menuItem" [value]="menuItem.ItemContent"
          (valueChanged)="valueChanged($event,menuItem, 'ItemContent')" [ItemStyle]="menuItem.SelectedStyle"
          (copyEvent)="OnCopyEvent($event,menuItem, 'ItemContent')"></app-html-element>
      </div>
    </div>
  </div>
</div>