<p *ngIf="parent && type === 'p'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value">
</p>
<h1 *ngIf="parent && type === 'h1'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h1>
<h2 *ngIf="parent && type === 'h2'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h2>
<h3 *ngIf="parent && type === 'h3'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h3>
<h4 *ngIf="parent && type === 'h4'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h4>
<h5 *ngIf="parent && type === 'h5'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h5>
<h6 *ngIf="parent && type === 'h6'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></h6>
<img *ngIf="parent && type === 'image'" [ngClass]="'_round_image'" [src]="value" alt="" (click)="onClick()"   [ngClass]="parent.ItemClass">
<a *ngIf="parent && type === 'a'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></a>
<div *ngIf="parent && type === 'div'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value"></div>
<button *ngIf="parent && type === 'button'" (click)="onClick()"   [ngClass]="parent.ItemClass" [innerHTML]="value">
</button>
<input *ngIf="parent && type === 'Textbox'"   [ngClass]="parent.ItemClass" />
<input *ngIf="parent && type === 'Checkbox'" type="checkbox"   [ngClass]="parent.ItemClass" />
<textarea *ngIf="parent && type === 'Textarea'"   [ngClass]="parent.ItemClass"></textarea>
<select *ngIf="parent && type === 'Dropdown'"   [ngClass]="parent.ItemClass"></select>