@import "../../../../../assets/styles/colors";

.resizable-draggable {
    &.active {
        outline-style: solid;
        background-color: #80ff800d;
    }

    span:first-of-type {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -100%, 0);
    }

    span:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
    }

    span:nth-of-type(3) {
        position: absolute;
        transform: translate3d(-100%, -100%, 0);
    }
}

.menu-menu {
    border: none;
    outline: none;
    position: absolute;
}

.image-holder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

._menuu {
    position: absolute;
    bottom: -3rem;
    left: 0;
    background: #fff;
    box-shadow: $box-shadow;
    padding: 0.2rem 0.8rem;
    font-size: 0.7rem;
    font-weight: 600;
    min-width: 12rem;
    border-radius: 0.25rem;
    z-index: 10000000000;
    ._item {
        cursor: pointer;
        background: $cloud;
        width: fit-content;
        padding: 0.2rem 0.75rem;
        text-align: center;
        border-radius: 0.25rem;
        margin-right: 0.4rem;
        color: $bg;
    }
}

.active-node {
    border: 2px solid #3498db;
    z-index: 1000;
    .resize-action {
        transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent transparent #3498db;
    }
}

.fa-database {
    color: rgb(61, 153, 61);
}

// video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     min-width: 100%;
//     min-height: 100%;
// }

