.section {
    position: relative;
    // &::before {
    //     content: "Section";
    //     position: absolute;
    //     background: red;
    //     font-size: .7rem;
    //     width: 5rem;
    //     height: 1rem;
    //     top: 0.12rem;
    //     left: 50%;
    //     z-index: 1000000;
    //     transform: translateX(-50%);
    //     text-align: center;
    //     color: aliceblue;
    // }

    &:hover {
        border: 1px dotted rgba(38, 138, 239, 0.525);
        .item-menu {
            opacity: 1;
        }
    }

}

.item-menu{
    // top: -1rem;
    left: 45%;
    z-index: 100000000;
}

._absolute{
    left: 47%;
    top: 1rem;
}