@import "../../../../assets/styles/colors";
._container {
    .seletor {
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        top: 0;
    }

    &:hover {
        border: 0.1px solid #3498db61;
        .seletor {
            opacity: 0.7;
        }
    }
}

._resizer {
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 5px;
    background: rgba(227, 209, 13, 0);
    z-index: 10000;
    bottom: -2px;
    left: 0;
    cursor: row-resize;
    span {
        position: absolute;
        width: 7px;
        height: 7.5px;
        border-radius: 5px;
        background: #3498db;
        z-index: 10001;
        bottom: -2px;
        left: 50%;
        transform: translate(-50%, 0);
        cursor: row-resize;
    }
}

.active-node {
    border: 2px solid #3498db;
    &:hover {
        border: 2px solid #3498db;
    }
}
