<div class="___item" (contextmenu)="toogleMiniMenu($event)" can_drop_on_me (onDrop)="onDrop($event,parent)">
  <div *ngIf="showMiniMenu" class="_mini-menu">
    <ul class="nav flex-column">

    </ul>
  </div>





    <img  *ngIf="parent && type === 'image'"  [src]="value" alt=""  [id]="parent.WidgetId" class="draggables html-element"
    candragme  can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass">



  <div *ngIf="type === 'nav'" class="draggables html-element"
      candragme [ngClass]="parent.ItemClass" can_hover_me (click)="toggleOptions()">
    <div class="__nav">
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngFor="let page of items">
          <a class="nav-link" [routerLink]="page.Url" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [ngClass]="page.StyleClass"
            [ngStyle]="page.SelectedStyle">{{page.Name}}</a>
        </li>
      </ul>
    </div>
  </div>



  <div class="__target" *ngIf="
  type === 'h1'
  || type === 'h2'
  || type === 'h3'
  || type === 'h4'
  || type === 'h5'
  || type === 'a'
  || type === 'h6'
  || type === 'p'
  || type === 'button'
  || type === 'div'
  ">

    <div class="typo __target d-flex justify-content-start" *ngIf="show && parent">
      <select class="__target" name="" id="" [(ngModel)]="parent.ElementType">
        <option [value]="item.Value" *ngFor="let item of types" [ngClass]="item.Class">
          {{item.Name}}
        </option>
      </select>

      <button class="btn  __target  btn-light" (click)="onShowIcons()">
        Icons
      </button>
      <button class="btn  __target  btn-light" (click)="textStyleChange('align-left')">
        <i class="fa fa-align-left __target"></i>
      </button>
      <button class="btn btn-light" (click)="textStyleChange('align-center')">
        <i class="fa fa-align-center __target"></i>
      </button>
      <button class="btn  __target btn-light" (click)="textStyleChange('align-right')">
        <i class="fa fa-align-right __target"></i>
      </button>
      <button class="btn  __target btn-light">
        <i class="fas fa-bold __target"></i>
      </button>
      <button class="btn  __target btn-light">
        <i class="fas fa-italic __target"></i>
      </button>
      <button class="btn   btn-light __target">
        <i class="fas fa-underline __target"></i>
      </button>

      <input type="color" class="color-picker  __target" [(ngModel)]="selectedTextColor"
        (input)="getSelectedText('color')">
    </div>


    <div *ngIf="type === 'p' && parent" [id]="parent.WidgetId" draggable="true" class="draggables html-element"
      candragme (click)="showTextOption = true" (onPoints)="onPoints($event)" (mouseleave)="showTextOption = false">

      <p draggable="true" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value"
        editor_item contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </p>
    </div>


    <div *ngIf="type === 'h1'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h1 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h1>

    </div>

    <div *ngIf="type === 'h2'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h2 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h2>
    </div>

    <div *ngIf="type === 'h3'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h3 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h3>
    </div>


    <div *ngIf="type === 'h4'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h4 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h4>
    </div>


    <div *ngIf="type === 'h5'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h5 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h5>
    </div>


    <div *ngIf="type === 'h6'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
      <h6 can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
      </h6>
    </div>

    <div *ngIf="type === 'div'" class="draggables html-element"
      candragme>
      <div [innerHTML]="value" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" editor_item
        contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
        >
      </div>
    </div>

  </div>


  <div *ngIf="type === 'a'"  [id]="parent.WidgetId" class="draggables html-element"
      candragme>
    <a can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </a>
  </div>





  <button *ngIf="type === 'button'" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" draggable="true"
    [id]="parent.WidgetId" class="draggables" candragme>
    <p style="padding: 0; margin: 0;" [innerHTML]="value" editor_item contenteditable="true"
      (OnInputEvent)="onChange($event)"></p>
  </button>

  <input *ngIf="type === 'Textbox'"  [id]="parent.WidgetId" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass" />
  <input *ngIf="type === 'Checkbox'"   [id]="parent.WidgetId" type="checkbox" can_hover_me (click)="toggleOptions()"
    [ngClass]="parent.ItemClass" />
  <textarea *ngIf="type === 'Textarea'"  [id]="parent.WidgetId" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass"></textarea>
  <select *ngIf="type === 'Dropdown'"  [id]="parent.WidgetId" can_hover_me (click)="toggleOptions()" [ngClass]="parent.ItemClass"></select>

  <!-- LIST -->
  <div *ngIf="type === 'list'" class="draggables html-element"
      candragme>
    <ul>
      <li *ngFor="let listItem of listItems" contenteditable="true" [ngClass]="parent.ItemClass">
        <!-- {{listItem}} -->
        <p can_hover_me (click)="toggleOptions()" [innerHTML]="listItem" editor_item contenteditable="true"
          (OnInputEvent)="onChange($event)" class="____text-editor">

        </p>
      </li>
    </ul>
  </div>


</div>

<app-image-picker *ngIf="showImage" (onClose)="showImage= false" (onImageSelect)="onImageSelect($event)"
  (onStyleChange)="styleChange($event)">
</app-image-picker>

<app-list-icons *ngIf="showIcons" (close)="onShowIcons()" (iconsEvent)="iconsEvent($event)"></app-list-icons>