<div class="___item" (contextmenu)="toogleMiniMenu($event)">
  <!-- Mini-Menu -->

  <div *ngIf="showMiniMenu" class="_mini-menu">
    <ul class="nav flex-column">

    </ul>
  </div>


  <app-mini-menu [showMiniMenu]="showMiniMenu" [miniMenu]="miniMenu" [options]="type"
    (miniMenuEvent)="selectMenu($event)">
  </app-mini-menu>




  <!-- IMAGE SECTION -->
  <div *ngIf="type === 'image'" class="html-element">
    <img [src]="value" alt="" can_hover_me (click)="toggleOptions()" [ngStyle]="ItemStyle">
  </div>



  <!-- NAV BAR SECTION -->
  <div *ngIf="type === 'nav'" class="html-element" [ngStyle]="ItemStyle" can_hover_me (onHover)="onHover($event)">
    <div class="__nav">
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngFor="let page of items">
          <a class="nav-link" [routerLink]="page.Url" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [ngClass]="page.StyleClass"
            [ngStyle]="page.SelectedStyle">{{page.Name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- TEXT -->

  <div class="__target" *ngIf="
  type === 'h1'
  || type === 'h2'
  || type === 'h3'
  || type === 'h4'
  || type === 'h5'
  || type === 'a'
  || type === 'h6'
  || type === 'p'
  || type === 'button'
  ">

  <div class="typo __target d-flex justify-content-start" *ngIf="show && parent">
    <select class="__target" name="" id="" [(ngModel)]="parent.ElementType">
      <option [value]="item.Value" *ngFor="let item of types" [ngClass]="item.Class">
        {{item.Name}}
      </option>
    </select>

    <button class="btn  __target  btn-light" (click)="textStyleChange('align-left')">
      <i class="fa fa-align-left __target"></i>
    </button>
    <button class="btn btn-light" (click)="textStyleChange('align-center')">
      <i class="fa fa-align-center __target"></i>
    </button>
    <button class="btn  __target btn-light" (click)="textStyleChange('align-right')">
      <i class="fa fa-align-right __target"></i>
    </button>
    <button class="btn  __target btn-light">
      <i class="fas fa-bold __target"></i>
    </button>
    <button class="btn  __target btn-light">
      <i class="fas fa-italic __target"></i>
    </button>
    <button class="btn   btn-light __target">
      <i class="fas fa-underline __target"></i>
    </button>

    <input type="color" class="color-picker  __target" [(ngModel)]="selectedTextColor"
      (input)="getSelectedText('color')">
  </div>


  <div *ngIf="type === 'p'" class="html-element" (click)="showTextOption = true" (mouseleave)="showTextOption = false">
 
    <p can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </p>
  </div>

  
  <div *ngIf="type === 'h1'" class="html-element">
    <h1 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h1>

  </div>

  <div *ngIf="type === 'h2'" class="html-element">
    <h2 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h2>
  </div>

  <div *ngIf="type === 'h3'" class="html-element">
    <h3 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h3>
  </div>


  <div *ngIf="type === 'h4'" class="html-element">
    <h4 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h4>
  </div>


  <div *ngIf="type === 'h5'" class="html-element">
    <h5 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h5>
  </div>


  <div *ngIf="type === 'h6'" class="html-element">
    <h6 can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </h6>
  </div>



  </div>

 
  <div *ngIf="type === 'a'" class="html-element">
    <a can_hover_me (click)="toggleOptions()" [ngStyle]="ItemStyle" [innerHTML]="value" editor_item
      contenteditable="true" (OnInputEvent)="onChange($event)" class="____text-editor">
    </a>
  </div>

  <div *ngIf="type === 'div'" class="html-element">
    <div [innerHTML]="value" can_hover_me (onHover)="onHover($event)" [ngStyle]="ItemStyle">
    </div>
  </div>


  <!-- BUTTONS -->
  <!-- <div *ngIf="type === 'button'" class="html-element"> -->
    <button *ngIf="type === 'button'" can_hover_me (click)="toggleOptions()" [ngStyle]="ItemStyle">
      <p style="padding: 0; margin: 0;" [innerHTML]="value" editor_item contenteditable="true"
        (OnInputEvent)="onChange($event)"></p>
    </button>
  <!-- </div> -->


  <!-- LIST -->
  <div *ngIf="type === 'list'" class="html-element">
    <ul>
      <li *ngFor="let listItem of listItems" contenteditable="true" [ngStyle]="ItemStyle">
        <!-- {{listItem}} -->
        <p can_hover_me (onHover)="onHover($event)" [innerHTML]="listItem" editor_item contenteditable="true"
          (OnInputEvent)="onChange($event)" class="____text-editor">

        </p>
      </li>
    </ul>
  </div>


  <app-element-options *ngIf="show" (onChange)="onChange($event)" [type]="type" [value]="value" [ItemStyle]="ItemStyle">
  </app-element-options>

</div>

<app-image-picker *ngIf="showImage" (onClose)="showImage= false" (onImageSelect)="onImageSelect($event)"
  (onStyleChange)="onStyleChange($event)">
</app-image-picker>