<div class="styles">
  <div class="style" *ngFor="let style of styles">
    <h5>
      <span> {{style.SectionName}}</span>
      <span *ngIf="!style.IsOpen"><i class="fa fa-chevron-down"></i></span>
      <span *ngIf="style.IsOpen"><i class="fa fa-chevron-up"></i></span>
    </h5>

    <div class="fields" *ngIf="style.IsOpen">
      <div class="_input grid-2">
        <div class="_label">Action</div>
        <div class="_units">
          <select name="" id="" [(ngModel)]="element.ItemEventName" style="color: white;" (change)="eventChanged()">
            <option [value]="option.Action" *ngFor="let  option of style.EventOptions">
              {{option.Action}}
            </option>
          </select>
        </div>
      </div>

      <div class="_input grid-2" *ngIf="element.ItemEventName === EventTypes.GO_TO_PAGE">
        <div class="_label">Page</div>
        <div class="_units">
          <select name="" id="" [(ngModel)]="element.ItemEvent" (change)="eventChanged()" style="color: white;">
            <option [value]="option.Url" *ngFor="let  option of pages">
              {{option.Name}}
            </option>
          </select>
        </div>
      </div>


      <div class="_input grid-2"
        *ngIf="table && table.Columns && element.ItemEventName === EventTypes.GO_TO_PAGE && element.ItemEvent">
        <div class="_label">Pass Id</div>
        <div class="_units">
          <select name="" id="" [(ngModel)]="element.UrlId" (change)="eventChanged()" style="color: white;">
            <option [value]="option.Name" *ngFor="let  option of table.Columns">
              {{option.Name}}
            </option>
          </select>
        </div>
      </div>

      <div class="_input grid-2" *ngIf="element.ItemEventName === EventTypes.GO_TO_LINK">
        <div class="_label">Url</div>
        <div class="_units">
          <input [(ngModel)]="element.ItemEvent" (change)="eventChanged()"
            style="text-transform: lowercase; color: white; text-align: right; font-size: .75rem;" />
        </div>
      </div>



      <div class="_input grid-2">
        <div class="_label">Category</div>
        <div class="_units">
          <select name="" id="" [(ngModel)]="element.ItemCategory" (change)="saveWidget()" style="color: white;">
            <option value="">None</option>
            <option [value]="option" *ngFor="let  option of [ItemCategories.MENU_BUTTON, ItemCategories.HIDE_MENU_BUTTON]">
              {{option}}
            </option>
          </select>
        </div>
      </div>

      
      <div class="_input grid-2">
        <div class="_label">Category</div>
        <div class="_units">
          <textarea name="" id="" [(ngModel)]="element.ItemContent" (change)="saveWidget()" style="color: white;">
          </textarea>
        </div>
      </div>
    </div>

  </div>
</div>