@import "../../../../assets/styles/colors";
.styles {
    padding: 2rem 0.5rem;
    color: $cloud;
    padding: 1rem;
    padding-top: 3.5rem;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 6rem;
    scrollbar-color: red !important ;


    .style {
        margin-bottom: 3.5rem;
    }
    h5 {
        border-bottom: 1px solid $cloud;
        font-size: 0.8rem;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding: 0.35rem 0;
        margin-bottom: 1rem;
        cursor: pointer;
        span {
            transition: 0.5s ease-in-out;
        }
    }
}



._input {
    display: grid;
    grid-template-columns: 25% auto;
    background: #1f2937;
    padding: 0.45rem;
    border-radius: 0.4rem;
    border: 2px solid $border;
    margin-bottom: .25rem;
    select,
    input {
        width: 100%;
        background: #1f2937;
        color: #fff;
        border: none;
        padding: 0 0.25rem;
        margin: 0;
        font-size: 0.85rem;
        text-transform: uppercase;
        text-align: center;
        font-size: .75rem;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        font-size: 0.7rem;
        color: #8395a7;
        cursor: pointer;
        text-align: right;
    }
    ._label {
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.25rem 0;
        color: #8395a7;
    }
}

.grid-2 {
    grid-template-columns: 25% auto;
    gap: 0;
}