
<div class="grid-2 style-styles">
    <div class="input-group input-group-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-rotate"></i></span>
        <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">&deg;</span>
    </div>

    <div class="input-group input-group-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm">
            <img src="assets/images/border-radius-each.svg" class="sm-image" alt="">
        </span>
        <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">PX</span>
    </div>
</div>

