@import "../../../../../assets/styles/colors";
.__body {
    padding: 1rem;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.list-group {
    padding-right: 2rem;
    border-right: 1px solid $grey;
    min-height: 30vh;
    border-radius: 0;
    margin-right: 1rem;

    .list-group-item {
        padding: 0;
        input {
            font-size: 0.7rem;
            cursor: pointer;
        }
    }
}
._picker {
    width: 85%;
}

.table {
    td {
        padding: 0;
        input,
        select {
            font-size: 0.7rem;
            border-radius: 0;
        }
    }
}

.grid-2 {
    grid-template-columns: 16rem auto;
}

input {
    border-radius: 0;
    cursor: pointer;
    &::placeholder {
        font-style: italic;
    }
}

._tabs {
    background: $grey;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    border-radius: 0.25rem;
    border: 1px solid $dark-grey;
    ._tab {
        padding: 0.2rem 2rem;
        border-right: 1px solid $dark-grey;
        font-size: 0.7rem;
        cursor: pointer;
    }
    .active {
        background: $white;
    }
}
.bg-white {
    background: $white;
    outline: 1px solid $grey;
    box-shadow: none;
}
