@import '../../../assets/styles/colors';
.dock-add {
    background: #000;
    color: #fff;
    position: fixed;
    top: .5rem;
    left: 1rem;
    display:flex ;
    align-items: center;
}

.docker-add-items-container{
    position: fixed;
    top: 3rem;
    left: 0;
    bottom: 0;
    width: 12vw;
    background: $mate-black; 
    .menu-item {
        margin: .2rem 0;
        padding: .1rem ;
        padding-left: 1.5rem;
        border-bottom: 1px solid rgb(80, 80, 80);
        padding-bottom: 5px;
        cursor: pointer;
        .icon{
            width: 1.5rem;
            margin-top: .2rem;
        }
        .name{
            padding: .1rem 1rem ;
            position: relative;
            top: .2555rem;
            font-size: .75rem;
        }
    }
    
}