<div class="forms" *ngIf="widget && widget.Form" [ngStyle]="widget.SelectedStyle">
  <div *ngFor="let input of widget.Form.Inputs; let i= index">
    <app-input [input]="input" [form]="widget.Form" [website]="website" [index]="i"></app-input>
  </div>


  <img class="item-menu contextmenu_from" src="assets/images/forms-icon.svg" (contextmenu)="onRightClick($event)"
    can_hover_me (onHover)="showStyleMenu($event)">



  <div class="absolute">

    <app-element-options *ngIf="widget && widget.ShowOptions" [type]="'widget'" [ItemStyle]="widget.SelectedStyle"
      (onStyleChange)="onStyleChange($event)">
    </app-element-options>


    <app-mini-menu [showMiniMenu]="widget.ShowMiniMenu" [miniMenu]="miniMenu" [options]="'Form'"
      (miniMenuEvent)="miniMenuEvent($event)">
    </app-mini-menu>
  </div>
</div>