<div class="body">
  <header class="bg-light center home">
    <p>
      Lorem, ipsum dolor.
    </p>

    <h1>
      Lorem ipsum dolor sit amet consectetur.
    </h1>
  </header>

  <section class="">
    <div class="con">
      <h2 class="center">
        Lorem, ipsum dolor.
      </h2>

      <div class="split">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sunt quidem tenetur distinctio. Corrupti
            dolor
            consectetur excepturi itaque cum doloremque nemo officia ut enim ducimus!</p>
        </div>
        <div>
          <p>Vero corporis, veritatis eligendi quaerat possimus, soluta suscipit minima nam ipsam accusantium eum
            recusandae, placeat quos? Laboriosam delectus aspernatur quod error reiciendis eveniet quia rerum!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary">
    <div class="con">
      <div class="split">
        <div>
          <h2>Lorem, ipsum.</h2>
          <p>
            Forget about spending hours learning how to code or trying to find a good developer to create your website.
            Tybo In Just Few Clicks enables you to create stunning and unique websites, already integrated with google
            analytics, maps, seo, payfast and more.

            Good thing is you can do all this by your self in this platform or our team can handle all this admin work
            for you, we are a software company after all.
          </p>
        </div>
        <div>
          <img src="../../../assets/images/mock/t2.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-dark">
    <div class="con">
      <div class="split">
        <div>
          <img src="../../../assets/images/mock/t1.png" alt="">
        </div>
        <div>
          <h2>Lorem, ipsum.</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum totam, veritatis a non quidem soluta fugit
            error voluptate sapiente quas?</p>
        </div>
      </div>
    </div>
  </section>
</div>