<div class="sections" *ngIf="page && website">
  
  <div class="section holder" *ngIf="website.Header">
    <app-page-widgtes-navigation-tree [page]="page" [widget]="website.Header" [website]="website"></app-page-widgtes-navigation-tree>
  </div>
  <div class="section holder" *ngFor="let widget of page.Widgets; let i = index" [id]="widget.WidgetId">
    <app-page-widgtes-navigation-tree [page]="page" [widget]="widget" [website]="website"></app-page-widgtes-navigation-tree>
  </div>


<!-- 
  <div class="section" *ngIf="header">
    <h6 class="d-flex justify-content-between">
     <span>
      <i class="fa fa-folder"></i>  {{header.Name}}
     </span>

     <span (click)="toggleVisble(header)">
      <i class="fas fa-eye" *ngIf="header.Diplayed"></i>
      <i class="fas fa-eye-slash" *ngIf="!header.Diplayed"></i>
     </span>
    </h6>
  </div>


  <div class="section" *ngFor="let section of page.Sections">
    <h6 class="d-flex justify-content-between">
     <span>
      <i class="fa fa-folder"></i>  {{section.Name}}
     </span>

     <span  (click)="toggleVisble(section)">
      <i class="fas fa-eye" *ngIf="section.Diplayed"></i>
      <i class="fas fa-eye-slash" *ngIf="!section.Diplayed"></i>
     </span>
    </h6>
  </div> -->
</div>




