<div class="_banner">
    <p>
        <a routerLink="/">Back</a>
    </p>
    <h1>
        Create a new website
    </h1>
    <p></p>
</div>

<div class="container">
    <div class="card" style="width: 21rem;">

        <div class="card-body">
            <h3 class="card-title">Start from scratch</h3>
            <p>
                Create pages, sections and elements using drag & drop
            </p>
            <a routerLink="/account/website-basic-details" class="btn btn-primary">Start creating</a>
        </div>
    </div>
</div>