@import "../../../../assets/styles/colors";
._item {
    width: 2rem;
    padding: 0.255rem;
    border-radius: 0.45rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: #161c24;
 
    }
    img {
        width:.8rem;
        height:.8rem;
        margin: auto;
    }
}

.active{
    background: #161c24; 
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
  }