@import "./../../../assets/styles/colors";
.tabs {
    grid-template-columns: repeat(2, 50%);
    grid-template-columns: repeat(3, 33.3%);
}

.elements {
    max-height: 100vh;
    padding-bottom: 4rem;
    overflow-y: scroll;
    padding: 1rem 0rem;
    // background: red;
    // padding-left: .5rem;
    gap: 0.5rem;

    ._widget {
        text-align: center;
        // border: 0.5px solid $border;
        background: #1a282d;
        padding: 1em 0;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            border-color: $bg;
            box-sizing: $box-shadow;
            cursor: move;
            p {
                color: $white;
            }
        }
        img {
            width: 1.5rem;
            margin: auto;
            border: none;
        }

        p {
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: 500;
            font-size: 0.65em;
            color: $dark-grey;
            padding-top: 0.5em;
            // background: red;
        }
    }
}

.holder {
    max-height: 100vh;
    // overflow-y: scroll;
    padding-bottom: 4rem;
}

.content {
    border: none !important;
    overflow: none !important;
    padding-left: 0.5rem;
}

h5 {
    margin: 0;
    padding: 0.3rem 0.2rem;
    background: #253d46;
    color: #fff;
    margin-top: 1rem;
    bottom: -0.4rem;
    position: relative;
    font-size: 0.95rem;
}
