<div class="tools-holder">
  <div class="content">
    <div class="_name">
      Element Libraly
    </div>
    <div class="tabs" *ngIf="tabs">
      <div class="tab" *ngFor="let tab of tabs" [ngClass]="tab.Class" (click)="onTab(tab)">
        <p [innerHTML]="tab.Name">

        </p>
      </div>
    </div>
    <div class="holder">
      <h5>
        Basic Elements
      </h5>
      <div *ngIf="elements && tabId === 'elements'" class="elements grid-2">
        <div class="widget-item _widget draggables" *ngFor="let widget of elements; let i = index"
          (click)="clickMenu(widget)" draggable="true" [id]="widget.ItemType" candragme>
          <img [src]="widget.ImageUrl" alt="">
          <p>
            {{widget.Name}}
          </p>
        </div>
      </div>

      <h5>
        Database Elements
      </h5>
      <div *ngIf="elements && tabId === 'elements'" class="elements grid-2">
        <div class="widget-item _widget draggables" *ngFor="let widget of databsesElements; let i = index"
          (click)="clickMenu(widget)" draggable="true" [id]="widget.ItemType" candragme>
          <img [src]="widget.ImageUrl" alt="">
          <p>
            {{widget.Name}}
          </p>
        </div>
      </div>
      <app-layers *ngIf="tabId === 'layers'"></app-layers>

    </div>
  </div>
</div>