$primary: #f3cf3d;
$white: #fff;
$cloud: #E4E4E4;
$grey: #bdc3c7;
$dark-grey: #95a5a6;
$bg: #1e272e;
$border: #2c3545;
$info: #3498db;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
