
// animation: slide-in-from-right 1s ease 0s 1 normal forwards;
@keyframes slide-in-from-right {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


// animation: slide-in-from-left 1s ease 0s 1 normal forwards;
@keyframes slide-in-from-left {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


// animation: slide-out-to-right 1s ease 0s 1 normal forwards;
@keyframes slide-out-to-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(250px);
	}
}


// https://webcode.tools/generators/css/keyframe-animation