._modal {
    background: red;
    position: absolute;
    padding: 1em;
    max-width: 40em;
    z-index: 2;
}
.item-dropdown {
    background: $cloud;
    position: fixed;
    // max-width: 40em;
    z-index: 2;
    top: 4em;
    left: 0;
    min-height: 15em;
    box-shadow: $box-shadow;
    color: $bg;
    border-top: 5px solid $primary;
    height: 100vh;
    width: 40%;

    .full-child {
        padding: 1em;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 6em;
    }
}

.no-scrol {
    overflow: hidden !important;
}

.options-modal {
    position: fixed;
    left: 0;
    top: 4rem;
    background: $cloud;
    box-shadow: $box-shadow;
    border-top: 6px solid $primary;
    // border-left: 2px solid $cloud;
    padding: 0;
    width: 17%;
    z-index: 1000000;
    max-height: 100vh;
    height: 100%;
    font-size: 0.8em !important;

    .__body{
        max-height:90vh ;
        overflow-y: scroll;

    }
    .heading,
    .body {
        padding: 0.5em;
    }

    .heading {
        // background: $grey;
        h5 {
            font-size: 1.1rem;
            top: 0.4em;
            font-weight: 700;
            padding: 0.25em;
        }

        ._close {
            cursor: pointer;
            padding: 0.2rem;
            font-size: 1.4rem;
            top: 4px;
            position: relative;
        }
    }

    .body {
        font-size: 0.8em;
        padding: 1em;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.677);
    z-index: 90000000;
}


.popup{
    padding: 0;
    background: $white;
    position: fixed;
    left: 15%;
    top: 20%;
    width: 70%;
    z-index: 900000001;
    .popup-body{
        padding: 2rem;
    }
}



$scale: 1.2;
._picker {
    position: fixed;
    right: 0;
    top: 0;
    left: unset;
    width: 40%;
    height: 100%;
    z-index: 90000001;
    border: none;
    background: $cloud;

    .heading {
        background: $white;
        color: $bg;
        text-transform: none;
    }

    .__body {
        color: $bg;
  


        .images {
            display: grid;
            grid-template-columns: repeat(5, 20%);
            grid-gap: 5px;
            padding: 1rem;
            max-height: 70vh;
            overflow-y: scroll;
            overflow-x: hidden;
            ._image {
                cursor: pointer;
                overflow: hidden;
                img {
                    transition: 0.2s ease-in-out;
                    width: 90% !important;
                    &:hover {
                        transform: scale($scale, $scale);
                        -ms-transform: scale($scale, $scale);
                        -webkit-transform: scale($scale, $scale);
                    }
                }
            }
        }
    }
}
